body {
   background-color: #7d7d7d;
   margin: 0;
   min-height: 100vh;
   background-color: aliceblue;
   background-image: url(../img/fondo.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
   
   
   display: flex;
   flex-direction: column;
}

.navbar {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: yellowgreen;
    font-family: "Google Sans", sans-serif;
    color: black;
    border: solid black 2.2px; /* EDITAR */
    border-radius: 15px;
    font-size: 20px;
    height: 20px;
}

.container { 
    margin: 10px;
    background-color: yellowgreen;
    padding: 24px;
    border-radius: 15px;
    color: black;
    margin-top: 20px;
    border: solid black 2.2px; /* EDITAR */
    font-size: 20px;
}

.menu {
    display: flex;
    gap: 16px;
}

.menu a {
    color: black;
    text-decoration: none;
}

.animales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 10px;
    border-radius: 15px;
    color: black;
    margin-top: 20px;  
 
}
.marco{
    display: flex;
    width: 20vw;

    height: auto;
    border-radius: 5%;
    background-color: transparent;
    border: solid transparent 2.2px;
    justify-content: center;
    padding: 10px;
    align-items: center;
    flex-direction: column;
}
.animal1,
.animal2,
.animal3,
.animal4,
.animal5,
.animal6,
.animal7,
.animal8,
.animal9,
.animal10 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7d7d7d;
    width: 10vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: 1rem;
    box-sizing: border-box;
    border: solid black 2.2px;
}
.textcuadro{
    color:whitesmoke;
    padding: 10px;
}

.navbar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin-top: 5px;
    background-color: yellowgreen;
    margin: 10px;
    font-family: "Google Sans", sans-serif;
    color: black;
    border: solid black 2.2px; /* EDITAR */
    border-radius: 15px;
    font-size: 20px;
    height: 5px;
}

.secciones{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.navbar3,
.navbar4,
.navbar5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin-top: 5px;
    background-color: yellowgreen;
    margin: 10px;
    font-family: "Google Sans", sans-serif;
    color: black;
    border: solid black 2.2px; /* EDITAR */
    border-radius: 15px;
    font-size: 20px;
    height: 5px;
    width: 50%;
}

footer {

    margin-top: auto;
    background-color: red;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: yellowgreen;
    border: solid black 2.2px; /* EDITAR */
}

.opinion {
    display: flex;
    justify-content:end;
    text-align: center;
    padding-right: 10px;
}

.footer {
    text-decoration: none;
    color:black;
}|